<%-include('_header')%>
	<header class="main-header " style="background-image: url(assets/img/intro.jpg)">
	<div class="vertical">
		<div class="main-header-content inner">
			<h1 class="page-title">Fashion Critiques</h1>
			<div class="entry-title-divider">
				<span></span><span></span><span></span>
			</div>
			<h2 class="page-description">Thoughts, reviews and ideas since 1999.</h2>
		</div>
	</div>
	<a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
	</header>
	<main id="content" class="content" role="main">
	<div class="wraps">
		<img src="assets/img/shadow.png" class="wrapshadow">
		<div class="grid">

			<div class="grid-item">
				<article class="post">
				<a href="article.html"><img src="http://s3.amazonaws.com/caymandemo/wp-content/uploads/sites/10/2015/09/10175658/j8-520x780-520x600.jpg"></a>
				<div class="wrapgriditem">
					<header class="post-header">
					<h2 class="post-title"><a href="article.html">What we saw in California</a></h2>
					</header>
					<section class="post-excerpt">
					<p>
						We commenced to-day our journey from New Helvetia to San Francisco. Our party consisted, including myself, of Colonel Russell, Dr. McKee of Monterey, Mr. Pickett, a <a class="read-more" href="/what-we-saw-in-california/">&raquo;</a>
					</p>
					</section>
					<footer class="post-meta">
					<img class="author-thumb" src="assets/img/gravatar.jpg" alt="David" nopin="nopin"/>
					<a href="author.html">David</a>
					<time class="post-date" datetime="2016-12-18">18 December 2016</time>
					</footer>
				</div>
				</article>
			</div>
			<div class="grid-item">
				<article class="post tag-romance">
				<a href="article.html"><img src="http://s3.amazonaws.com/caymandemo/wp-content/uploads/sites/10/2015/09/30160348/sep4.jpg"></a>
				<div class="wrapgriditem">
					<header class="post-header">
					<h2 class="post-title"><a href="article.html">Shadows &amp; Lights</a></h2>
					</header>
					<section class="post-excerpt">
					<p>
						Next day Marcolf proves all his statements. Thus, he places a pan of milk in a dark closet, and suddenly calls the king. Solomon steps into <a class="read-more" href="/shadows/">&raquo;</a>
					</p>
					</section>
					<footer class="post-meta">
					<img class="author-thumb" src="assets/img/gravatar.jpg" alt="David" nopin="nopin"/>
					<a href="author.html">David</a>
					on <a href="#">romance</a>
					<time class="post-date" datetime="2016-12-18">18 December 2016</time>
					</footer>
				</div>
				</article>
			</div>
			<div class="grid-item">
				<article class="post featured">
				<a href="article.html"><img src="http://s3.amazonaws.com/caymandemo/wp-content/uploads/sites/10/2015/09/10175658/j12-520x668-520x600.jpg"></a>
				<div class="wrapgriditem">
					<header class="post-header">
					<h2 class="post-title"><a href="article.html">The Book of Delight</a></h2>
					</header>
					<section class="post-excerpt">
					<p>
						Joseph Zabara has only in recent times received the consideration justly due to him. Yet his "Book of Delight," finished about the year 1200, is more <a class="read-more" href="/drinking-whenever-you-are-ready-or-even-if-youre-not/">&raquo;</a>
					</p>
					</section>
					<footer class="post-meta">
					<img class="author-thumb" src="assets/img/gravatar.jpg" alt="David" nopin="nopin"/>
					<a href="author.html">David</a>
					<time class="post-date" datetime="2016-12-14">14 December 2016</time>
					</footer>
				</div>
				</article>
			</div>
			<div class="grid-item">
				<article class="post">
				<div class="wrapgriditem">
					<header class="post-header">
					<h2 class="post-title"><a href="article.html">Fashion Teenager</a></h2>
					</header>
					<section class="post-excerpt">
					<p>
						You must try to understand that when I finished school I was as raw as raw could be. I had never travelled anywhere on my own, <a class="read-more" href="/reading-fashion-eating-books/">&raquo;</a>
					</p>
					</section>
					<footer class="post-meta">
					<img class="author-thumb" src="assets/img/gravatar.jpg" alt="David" nopin="nopin"/>
					<a href="author.html">David</a>
					<time class="post-date" datetime="2016-12-14">14 December 2016</time>
					</footer>
				</div>
				</article>
			</div>
		</div>
	</div>
	</main>
	<%- include('_footer')%>